
body {
    background-color: #222020;
}/*Personalização texto*/
#pa01 {
    color:whitesmoke;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}/*texto alinhado,color,fonte da letra*/
#art01 {
    background-color: #141212;
    -webkit-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    -moz-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    align-items: center;
    border-radius: 7%;
    margin: 5%;
}/*margem arrumada,box-shadow,borda*/

#pa02 {
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}/*color,fonte,texto personalizado*/
#img01 {
    text-align: center;
    margin: 2%;
    align-items: center;
    border: outset whitesmoke;
}/*imagem colocada*/

section {
    align-items: center;
    text-align: center;
    margin: 1%;
}
/*section mudar*/
#art02 {
    background-color: #141212;
    margin: 5%;
    -webkit-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    -moz-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    align-items: center;
    border-radius: 5%;
}
/*texto,articles,margin*/
#pa03 {
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}

#img02 {
    text-align: center;
    margin: 2%;
    align-items: center;
    border: outset whitesmoke;
}/*imagem feita,border,alinhar items*/

#main02 {
    display: flex;
}

#art02 {
    width: 33%;
}/*aticles*/

#pa04 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: whitesmoke;
}

#art02:hover {
    background-color: #5c5757;
    outline: double whitesmoke;
    transition: all .6s;
    cursor: pointer;
}/*personalizar textos e cores*/

#pa05 {
    text-align: left;
    color: whitesmoke;
    margin-left: 1%;
}

#art01:hover {
    background-color: #5c5757;
    outline: double whitesmoke;
    transition: all .6s;
    cursor: pointer;
}/*articles com hover completo com color*/

#art03 {
    background-color: #141212;
    -webkit-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    -moz-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    align-items: center;
    border-radius: 7%;
    margin: 5%;
    width: 33%;
}/*articles trocado concertar*/

#sa02 {
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}

#sa03 {
    text-align: left;
    color: whitesmoke;
    margin-left: 1%;
}/*borda,texto,foto*/

#art03:hover {
    background-color: #5c5757;
    outline: double whitesmoke;
    transition: all .6s;
    cursor: pointer;
}

#img03 {
    text-align: center;
    margin: 2%;
    align-items: center;
    border: outset whitesmoke;
}/*imagem concertar a imagem para meio*/

#sa01 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color:whitesmoke;
}

#art04 {
    background-color: #141212;
    -webkit-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    -moz-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    align-items: center;
    border-radius: 7%;
    margin: 5%;
    width: 33%;
}/*mudar borda e concertar a margin ,width*/

#ba02 {
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}

#ba03 {
    text-align: left;
    color: whitesmoke;
    margin-left: 1%;
}

#art04:hover {
    background-color: #5c5757;
    outline: double whitesmoke;
    transition: all .6s;
    cursor: pointer;
}/*articles com border,hover*/

#img04 {
    text-align: center;
    margin: 2%;
    align-items: center;
    border: outset whitesmoke;
}/*imagem concertar borda,color border*/ 

#ba01 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: whitesmoke;
}

#art05 {
    background-color: #141212;
    -webkit-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    -moz-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    align-items: center;
    border-radius: 7%;
    margin: 5%;
    width: 33%;
}/*articles borda,texto,box shadow usar.*/

#art05:hover {
    background-color: #5c5757;
    outline: double whitesmoke;
    transition: all .6s;
    cursor: pointer;
}/*article colocar hover*/

#img05 {
    text-align: center;
    margin: 2%;
    align-items: center;
    border: outset whitesmoke;
}/*imagem concertada,borda,color, alinhar textos*/

#ba10 {
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}

#art05 {
    width: 33%;
}

#ba11 {
    text-align: left;
    color: whitesmoke;
    margin-left: 1%;
    margin-bottom: 2%;
}/* color,arrumar borda,imagem*/

#art06 {
    background-color: #141212;
    -webkit-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    -moz-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    align-items: center;
    border-radius: 7%;
    margin: 5%;
    width: 33%;
}/*articles concertar,box-shadow,alinhar items*/

#art06:hover {
    background-color: #5c5757;
    outline: double whitesmoke;
    transition: all .6s;
    cursor: pointer;
}/*article com hover*/

#img06 {
    text-align: center;
    margin: 2%;
    align-items: center;
    border: outset whitesmoke;
}/*imagem concertada,alinhada,color ideal*/

#pa06 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
}

#ba6 {
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}

#art06 {
    width: 33%;
}

#papa06 {
    text-align: left;
    color: whitesmoke;
    margin-left: 1%;
    margin-bottom: 2%;
}

#main03 {
    display: flex;
}/*display flex na main*/



#art07 {
    background-color: #141212;
    -webkit-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    -moz-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    align-items: center;
    border-radius: 7%;
    margin: 5%;
    width: 33%;
}/*articles com hover,color,background color,box-shadow*/

#art07:hover {
    background-color: #5c5757;
    outline: double whitesmoke;
    transition: all .6s;
    cursor: pointer;
}/*hover no articles*/

#img07 {
    text-align: center;
    margin: 2%;
    align-items: center;
    border: outset whitesmoke;
}/*imagem com borda,alinhado com a imagem*/

#pa07 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
}

#ba07 {
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}/*texto com color,fonte*/

#art07 {
    width: 33%;
}

#papa07 {
    text-align: left;
    color: whitesmoke;
    margin-left: 1%;
    margin-bottom: 2%;
}/*texto-align colocar para  esquerda,magin,color*/

#pa08 {
    color: whitesmoke;
    text-align: center;
}/*css pronto*/