.scroll-top {
    height: 60px;
    width: 60px;
    background-color: #257683;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.336);
    transform: scale(0.9);
    transition: 0.3s ease-in-out transform;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  .scroll-top svg {
    width: 50%;
    color: black;
    pointer-events: none;
  }
  
  .scroll-top:hover {
    transform: scale(1);
  }


  html {
    scroll-behavior: smooth;
  }