#mainnews{
    margin: 3%;
}
#mainnews0 {
    margin: 3%;
    margin-left: 0%;
}
#sbn {
    margin-left: 5%;
}
#jgs {
    margin-left: -1%;
}

@media  screen and (max-width:600px) and (min-device-height:400px) {
    #img1{
        width: 80%;
        margin-left: 10%;
    }
}