body{
    background-color: #141212;
    color: white;
    font-size: 16px;
}
.bb{
    background-color: #141212;
    width: 70%;
    color: white;
    border-radius: 8px;
    -webkit-box-shadow: 10px 14px 23px 5px rgba(217,214,217,0.28);
    -moz-box-shadow: 10px 14px 23px 5px rgba(217,214,217,0.28);
    box-shadow: 10px 14px 23px 5px rgba(217,214,217,0.28);
    margin-left: 7%;
}
#main1{
    display: flex;
    margin-bottom: 10vh;
   gap: 10vh;
   padding: 10vh;
}
#banner1{
    border-radius: 8px;
    -webkit-box-shadow: 10px 14px 23px 5px rgba(217,214,217,0.28);
    -moz-box-shadow: 10px 14px 23px 5px rgba(217,214,217,0.28);
    box-shadow: 10px 14px 23px 5px rgba(217,214,217,0.28);
    margin-top: 10vh;
}

#news{
    border-radius: 15px;
    background-color: #141212;
    width: 30%;
    height: 70vh;
    padding: 5vh;
    -webkit-box-shadow: 10px 14px 23px 5px rgba(217,214,217,0.28);
    -moz-box-shadow: 10px 14px 23px 5px rgba(217,214,217,0.28);
    box-shadow: 10px 14px 23px 5px rgba(217,214,217,0.28);
}

@media (max-width: 600px) {
    #main1{
        display: inline;
     
    }
    #news{
        width: 80%;
        margin-left: 8%;
       margin-top: 10vh;
        
    }
   .bb{
        width: 90%; 
        padding: 2vh;
        margin-top: 5vh;
         margin-right: 8%;
    }
   
}