.comments123 {
    width: 33%;
    margin: auto;
    -webkit-box-shadow: 10px 14px 23px 5px rgba(217,214,217,0.28);
    -moz-box-shadow: 10px 14px 23px 5px rgba(217,214,217,0.28);
    box-shadow: 10px 14px 23px 5px rgba(217,214,217,0.28);
    background-color: black;
    padding:1%;
    border-radius: 5%;
    margin:2%;
    display:flex;
} /*shadow box de fundo, borda redonda e distanciamento geral ao redor junto ocm conteudo adicional ao redor co cor preta de fundo*/

#comments {
    display:flex;
    margin-top:5%;
} /*distanciamento no topo e disposição alinhada*/

#perfil {
    border:3px white ridge;
    border-radius:100px;
} /*borda redonda e cor da borda*/

#estrela {
    background-color: yellow;
} /*cor da estrela*/

#nome {
    margin:2%;
} /*distanciamento geral*/

#comentario {
    margin:2%;
    text-align: justify;
} /* texto justificado e dsitanciamento geral*/

#borderestrela {
    text-align: center;
    border:3px gray ridge;
    margin-top:1%;
} /*cor da borda, centraliazção e margem geral*/

.sec123 {
    cursor:pointer;
} /*cursor ao pasar em cima*/

#estrela1 {
    background-color: white;
} /*cor de estrela*/

#footer-1 {
    margin-bottom:-5px ;
} /*colagem do footer*/

header {
    height: 75px;
}

#imgheader {
    margin-top:-1.5%;
}