* {
    padding: 0;
    margin: 0;
}


body {
    background-color: #222020;
    color: whitesmoke;
}

#centro ,#title1 {
    text-align: center;
}

#title1 {
    margin: 10px 0;
}

#cont {
    margin: 20px 0;
    padding: 3%;
}
#pp{
    text-align: justify;
    font-size: 17px;
}