body {
    background-color: #222020;
    color: whitesmoke;
    text-align: center;


}

@media (max-width:600) {
    body {
        font-size: 14px;
    }
}

/*ajustes na estilização do header*/
header {
    display: flex;
    background-color: black;
}

/*Estilização do box shadow dos banners e ajuste na posição*/
article {
    -webkit-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    -moz-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
}


#header0 {
    width: 50%;
    height: 100%;
    align-items: center;
    margin-left: 40%;
    margin-top: auto;
    display: flex;
}
a:hover{
    background-color: black;

}

/*ajuste na posição da imagem*/
#imgheader0 {
    margin: auto;
    margin-bottom: 0%;
}

/*ajuste na posição da imagem*/
#imgheader {
    width: 50%;
    margin: auto;
    margin-bottom: 0%;
}

/*centralizar logo e tirar a borda*/
#escritalogo {
    margin-left: -70%;
    border: none;

}

/*ajuste na logo com o link*/
#desenho {
    float: right;
    border: none;
}
 #shakira{
    width: 60%;
    height: 10%;
 }