

body {
    background-color: #222020;
}

/*estilizaçao do body*/

#art01 {
    background-color: #141212;
    -webkit-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    -moz-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    align-items: center;
    border-radius: 7%;
    margin: 5%;
    padding: 1%;
}/*articles com hover borda,magin estilizar*/

/* arrumando imagem noticia passada */
#img05{
    width: 60%;
}
#img01 {
    text-align: center;
    margin: 2%;
    align-items: center;
    border: outset whitesmoke;
}/*imagem align,border*/

section {
    align-items: center;
    text-align: center;
    margin: 1%;
}/*section margin,texto feito*/

#art02 {
    background-color: #141212;
    margin: 5%;
    -webkit-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    -moz-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    align-items: center;
    border-radius: 5%;
}/*articles*/


#img02 {
    text-align: center;
    margin: 2%;
    align-items: center;
    border: outset whitesmoke;
}/*imagem margin,border*/

#main02 {
    display: flex;
}/*main colocando articles*/

#art02 {
    width: 33%;
}/*articles*/

p{
    text-align: justify;
}





#art03 {
    background-color: #141212;
    -webkit-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    -moz-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    align-items: center;
    border-radius: 7%;
    margin: 5%;
    width: 33%;
}/*articles terminar*/



#sa03 {
    text-align: left;
    color: whitesmoke;
    margin-left: 1%;
}/*texto estilizado*/



#img03 {
    text-align: center;
    margin: 2%;
    align-items: center;
    border: outset whitesmoke;
}/*imagem*/



#art04 {
    background-color: #141212;
    -webkit-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    -moz-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    align-items: center;
    border-radius: 7%;
    margin: 5%;
    width: 33%;
}/*articles feitos*/

#ba02 {
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}/*texto estilizado*/

#ba03 {
    text-align: left;
    color: whitesmoke;
    margin-left: 1%;
}



#img04 {
    text-align: center;
    margin: 2%;
    align-items: center;
    border: outset whitesmoke;
}/*imagem,texto,margin,alingn*/

#ba01 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: whitesmoke;
}

#art05 {
    background-color: #141212;
    -webkit-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    -moz-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    align-items: center;
    border-radius: 7%;
    margin: 5%;
    width: 33%;
}/*background color,box-shadow,margin,width,alingn*/



#img05 {
    text-align: center;
    margin: 2%;
    align-items: center;
    border: outset whitesmoke;
}/*imagem*/

#ba10 {
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}/*texto feito*/

#art05 {
    width: 33%;
}/*articles*/

#ba11 {
    text-align: left;
    color: whitesmoke;
    margin-left: 1%;
    margin-bottom: 2%;
}/*texto estilizado com sucesso*/

#art06 {
    background-color: #141212;
    -webkit-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    -moz-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    align-items: center;
    border-radius: 7%;
    margin: 5%;
    width: 33%;
}/*articles estilizados*/



#img06 {
    text-align: center;
    margin: 2%;
    align-items: center;
    border: outset whitesmoke;
}/*imagem*/



#ba6 {
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}/*texto feito com estilizaçao*/

#art06 {
    width: 33%;
}/*articles estilizados*/

#papa06 {
    text-align: left;
    color: whitesmoke;
    margin-left: 1%;
    margin-bottom: 2%;
}/*texto*/

#main03 {
    display: flex;
}/*main feita completa*/



#art07 {
    background-color: #141212;
    -webkit-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    -moz-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    align-items: center;
    border-radius: 7%;
    margin: 5%;
    width: 33%;
}/*articles,width,border, com margin e padding tirar*/


#img07 {
    text-align: center;
    margin: 2%;
    align-items: center;
    border: outset whitesmoke;
}/*imagem*/



#ba07 {
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}/*texto estilizado*/

#art07 {
    width: 33%;
}

#papa07 {
    text-align: left;
    color: whitesmoke;
    margin-left: 1%;
    margin-bottom: 2%;
}/*texto estilizado*/

#pa08 {
    color: whitesmoke;
    text-align: center;
}/*texto*/
#pnt2 {
    text-align: center;
}

#main02 {
    display: flex;
    flex-direction: column;
    background-color: #141212;
    align-items: center;

}/*main 02 pronta*/
#art05 {
    width: 80%;
    display: flex;
    /*articles*/
}
#title1{
    font-family: Bernard MT Condensed;
    font-size: 38px;
}/*titles*/

/* detalhes */
.containerNoticiaArtes{
    margin-bottom: 5%;
}
#pubpor{
    margin-top: 17%;
}
/* responsividade */
@media screen and (max-width:600px) and (min-device-height:400px){
    #art02, #art03, #art04{
        width: 80%;
        margin-left: 10%;
    }
    #art01{
        padding: 3%;
    }
    #art05{
        display: inline;
        padding: 3%;
    }
    #img02, #img03, #img04, #img05, #img06, #img07{
        width: 70%;
    }
    p{
        text-align: justify;
    }
}

@media (max-width:768px) {
    #art01 {
        padding: 10px;
    }

    #art05 {
        flex-direction: column;
    }

    #ba6, #ba10, #ba07 {
        font-weight:lighter;
        font-size: 17px;
    }
}
