body {
    background-color: #222020;
    color: whitesmoke;
    text-align: center;
    
    
}

@media (max-width:600px) {
    body {
        font-size: 14px;
    }
}

/*ajustes na estilização do header*/
header {
    display: flex;
    background-color: black;
}

#link1:hover{
background-color: black;    
}
/*Estilização do box shadow dos banners e ajuste na posição*/
article {
    -webkit-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    -moz-box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
    box-shadow: 10px 14px 23px 5px rgba(217, 214, 217, 0.28);
}

#header0 {
    width: 50%;
    height: 100%;
    align-items: center;
    margin-left: 40%;
    margin-top: auto;
    display: flex;
}

/*ajuste na posição da imagem*/
#imgheader0 {
    margin: auto;
    margin-bottom: 0%;
}

/*ajuste na posição da imagem*/
#imgheader {
    width: 50%;
    margin: auto;
    margin-bottom: 0%;
}

/*centralizar logo e tirar a borda*/
#escritalogo {
    margin-left: -70%;
    border: none;

}

/*ajuste na logo com o link*/
#desenho {
    float: right;
    border: none;
}

#centralizarimg {
    text-align: center;
}

#title1 {
    margin-top: 5%;
    margin-bottom: 4%;
}

main {
    text-align: center;
    margin: 0%;
}

/* estilizacao do banner principal, imagens e textos */
#bannerprincipal {
    background-color: #141212;
    margin: 10%;
    border-radius: 10px;
}

@media (max-width:600px) {
    #bannerprincipal {
        display: inline;
        background-color: #141212;
        margin: 10%;
        border-radius: 10px;

    }
}

#mainnews0 {
    margin-left: 3%;
    margin-right: 3%;
}

#h02 {
    margin-bottom: 2%;
}

.banner1 {
    display: flex;
    margin: auto;
    height: 100%;
}


p {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}

h5 {
    color: azure;
    margin-top: 10%;
    margin-bottom: 0%;
}

/* fim da estilizacao do banner principal */

/* começo das 3 noticias */
#main1 {
    display: flex;
    margin: auto;
}
@media (max-width:600px) {
    #main1{
        display: inline;
        align-items: center;
    }
    #imgm{
        width: 50%;
        height: 50%;
    }
    #centralizarimg{
        text-align: center;
      
    }

}


#news {
    width: 100%;
    align-items: center;
    text-align: justify;
    background-color: #141212;
    margin: 5%;
    border-radius: 10px;
}

#section01 {
    margin: 5%;
    padding: none;
}

#invisivel {
    color: #141212;
}

.a1:hover {
    background-color: #141212;
    border-radius: 10px;
}

#news:hover {
    outline: double whitesmoke;
    transition: all .6s;
    cursor: pointer;
}

/*ajuste da posição imagem veigh*/
#veigh {
    height: 4.5cm;
    width: 5cm;
    margin-top: 8%;
}

/*ajuste da posição imagem coldplay*/
#coldplay {
    margin-top: 25%;
    height: 4.5cm;
}


