*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container {
    position: relative;
    padding: 15px;
    max-width: 640px;
    margin: 0% auto;
}
.gallery-wrapper{
    overflow-x: auto;
}
.gallery{
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

#img1 {
    display: none;
}
#img2 {
    display: none;
}
#img3 {
    display: none;
}
#img4 {
    display: none;
}
#img5 {
    display: none;
}
#img6 {
    display: none;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider a img{
    width: 300px;
    height: 300px;
    padding: 0;
    margin: 0;
    
}



.arrow-left,
.arrow-rigth{
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0%;
    font-size: 25px;
    line-height: 250px;
    width: 40px;
    text-align: center;
    color: white;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    transition: all 0.6s ease-in-out;
}
.arrow-rigth{
    left: auto;
    right: 0;
    background: linear-gradient(to left, transparent 0%, black 200%);
}
.arrow-left:hover{
    opacity: 1;
}
.arrow-rigth:hover{
    opacity: 1;
}

.gallery-wrapper::-webkit-scrollbar{
    display: none;
    
}
.gallery-wrapper{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.cyan{
    background: cyan;
}
.deeppink {
    background: deeppink;
}
.turqouise {
    background: turquoise;
}
.darkblue {
    background: darkblue;
}
.purple {
    background: purple;
}

#next-btn img:hover, #prev-btn img:hover {
    transform: scale(0.8);
    transition: all 0.3s ease-in-out;
}

#next-btn, #prev-btn{
    background-color: #222020;
    border: none;
    cursor: pointer;
    display: inline-block;
    width: 25px;
    height: 25px;
}

#prev-btn {
    transform: rotate(180deg);
}

@media (max-width: 768px) {
    .slider a img {
        margin: 0px 40px;
    }
}

@media (max-width: 455px) {
    .slider a img {
        margin: 0px 20px;
    }
}

@media (max-width: 415px) {
    .slider a img {
        margin: 0px 0px;
    }
}

@media (max-width: 380px) {
    .slider a {
        padding: 5px;
    }
}