* {
    margin:0;
    padding:0;
}/*padding e margin*/

#volei1 {
    width: 25%;
    margin: 4%;
    border-radius: 3%;
    border: whitesmoke outset;
}/*volei quase pronto trocar width,border*/

#title-h2 {
    text-align: center;
}/*title h2 estilizado*/

#par1 {
    text-align: justify;
    margin: 2%;
    padding:2%;
}

body {
    background-color: #222020;
    color:whitesmoke;
}/*estilizar body*/

#hist {
    text-align: center;
    width:50%;
    margin:auto;
    -webkit-box-shadow: 10px 14px 23px 5px rgba(217,214,217,0.28);
    -moz-box-shadow: 10px 14px 23px 5px rgba(217,214,217,0.28);
    box-shadow: 10px 14px 23px 5px rgba(217,214,217,0.28);
    margin-top:5%;
    margin-bottom:5%;
    background-color: #141212;
    border-radius: 5%;
}/* texto estilizado,margin,background,color,width,box-shadow*/

#regras1 {
    text-align: center;
    width:50%;
    margin:auto;
    -webkit-box-shadow: 10px 14px 23px 5px rgba(217,214,217,0.28);
    -moz-box-shadow: 10px 14px 23px 5px rgba(217,214,217,0.28);
    box-shadow: 10px 14px 23px 5px rgba(217,214,217,0.28);
    margin-top:5%;
    margin-bottom:5%;
    background-color: #141212;
    border-radius: 5%;
}/*regras width,margin,box-shadow,border,moz-box-shadow*/

#p-regras {
    text-align: justify;
    margin:2%;
    padding:2%;
}/*regras*/

#footer1 {
    margin-bottom:-10px;
}/*footer*/

#im1im2 {
    display: flex;
}
#title1{
    width: 60%;
    font-size: 60px;
    color: azure;
}/*title1*/
p {
    margin: 3%;
}
main{
    box-shadow: none;
}/*main box shadow*/
article{
    margin-bottom: 3%;
    box-shadow: none;
}/*articles feitos*/