<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>PsiOmega-Footer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="footer.css">
    <link rel="icon" type="image/x-icon" href="../assets/images/logo2.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    
    <footer id="footer1">
        <div id="footer_content">
            <div id="footer_contacts">
                <h1>Social</h1>
                <p id="socialp">Nos acompanhe em nossas redes sociais.</p>

                <div id="footer_social_media">
                    <a target="_blank" href="https://linktr.ee/kamitech__"><i class="fa fa-tree" aria-hidden="true"
                            style=" color: aliceblue;"></i></a>

                    <a target="_blank" href="https://www.instagram.com/kami_tech___/"><i class="fa fa-instagram"
                            style=" color: aliceblue;"></i></a>

                    <a target="_blank" href="https://github.com/ElMatheus"><i class="fa fa-github" aria-hidden="true"
                            style=" color: aliceblue;"></i></a>
                </div>
            </div>

            <ul class="footer-list">
                <li>
                    <h3>Links</h3>
                </li>
                <li>
                    <a href="../index.html" class="footer-link">Home</a>
                </li>
                <li>
                    <a href=".././pages/sobre-nos/sobrenos.html" class="footer-link">Sobre nós</a>
                </li>
                <li>
                    <a href=".././pages/pagina-extra/painel-administrativo.html" class="footer-link">Painel
                        administrativo</a>
                </li>
            </ul>

            <ul class="footer-list">
                <li>
                    <h3>Veja Mais</h3>
                </li>
                <li>
                    <a href=".././pages/arte/arte.html" class="footer-link">Arte</a>
                </li>
                <li>
                    <a href=".././pages/musica/paginainicialmusic.html" class="footer-link">Música</a>
                </li>
                <li>
                    <a href=".././pages/jogos/paginainicialjogos.html" class="footer-link">Jogos</a>
                </li>
            </ul>

            <div id="footer_feedback">
                <h3>Feedback</h3>

                <p>
                    Deixe uma frase com seu feedback do nosso site.
                </p>

                <div id="input_group">
                    <input type="email" id="email">
                    <button>
                        <img width="32px" height="32px" style="color:  #ccc;"
                            src=".././assets/images/envelope-regular.svg" alt="">
                    </button>
                </div>
            </div>
        </div>

        <div id="footer_copyright">
            &#169
            2023 Todos direitos reservados
        </div>
    </footer>
</body>

</html>