<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>PsiOmega-Footer</title>
    <link rel="stylesheet" type="text/css" href="footer.css">
    <link rel="icon" type="image/x-icon" href="../assets/images/logo2.png">
</head>

<body>
    <footer>

 <!--colocar a imagem da PsiArvore e colocar o linktree nela-->

        <a href="https://linktr.ee/psiomega.01" target="_blank"><img src="../assets/images/Linktree.png" width="64px"></a>

        <h1>Todos os Direitos Reservados © - 2023</p>
    </footer>
</body>

</html>