<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="header.css">
    <title>Menu lateral</title>
</head>

<body id="bb">
    <header>
        <div id="logos">
            <input type="checkbox" id="chec">
            <label for="chec">
                <img id="iconmenu" src="../assets/images/icon menu.png" width="40px">
            </label>
            <nav>
                <ul id="ulprinc">
                    <li><a href="#" class="linkl">Início</a></li>

                    <li>

                        <a href="#" class="linkl">Esporte <img class="seta" src="../assets/images/seta-baixo.png" /></a>
                        <div class="sub-menu">
                            <ul>
                                <li><a href="../pages/esportes/basquete.html" class="linkl">Basquete</a></li>
                                <li><a href="../pages/esportes/volei.html" class="linkl">Volei</a></li>
                                <li><a href="../pages/esportes/futebol.html" class="linkl">Futebol</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a href="../pages/literatura/paginainicialliteratura.html" class="linkl">Literatura <img
                                class="seta" src="../assets/images/seta-baixo.png"></a> </a>
                        <div class="sub-menu">
                            <ul id="ul-submenu">
                                <li><a href="../pages/literatura/livros.html" class="linkl">Livros</a></li>
                                <li><a href="../pages/literatura/autores.html" class="linkl">Autores</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a href="../pages/jogos/paginainicialjogos.html" class="linkl">Jogos <img class="seta"
                                src="../assets/images/seta-baixo.png"></a></a>
                        <div class="sub-menu">
                            <ul id="ul-submenu">
                                <li><a href="../pages/jogos/valorant.html" class="linkl">Valorant</a></li>
                                <li><a href="../pages/jogos/csgo.html" class="linkl">CS:GO</a></li>
                                <li><a href="../pages/jogos/soft.html" class="linkl">Sons of the forest</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a href="../pages/musica/paginainicialmusic.html" class="linkl">Música <img class="seta"
                                src="../assets/images/seta-baixo.png"></a></a>
                        <div class="sub-menu">
                            <ul id="ul-submenu">
                                <li><a href="../pages/musica/mpb.html" class="linkl">MBP</a></li>
                                <li><a href="../pages/musica/trap.html" class="linkl">Rap</a></li>
                                <li><a href="../pages/musica/pop.html" class="linkl">Pop</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a href="../pages/arte/arte.html" class="linkl">Arte <img class="seta"
                                src="../assets/images/seta-baixo.png"></a></a>
                        <div class="sub-menu">
                            <ul id="ul-submenu">
                                <li><a href="../pages/arte/exposições.html" class="linkl">Exposição</a></li>
                                <li><a href="../pages/arte/artistas.html" class="linkl">Artistas do nosso cotidiano</a>
                                </li>
                                <li><a href="../pages/arte/arterua.html" class="linkl">Arte de rua</a></li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a href="../pages/paginainicialvest.html" class="linkl">Vestibular</a>
                    </li>

                    <li>
                        <a href="../pages/feedback.html" class="linkl">Feedback</a>
                    </li>

                    <li>
                        <a href="../pages/contato.html" class="linkl">Contato</a>
                    </li>

                    <li>
                        <a href="../pages/contato.html" class="linkl">Sobre nós</a>
                    </li>
                </ul>
            </nav>
            <a href="../index.html"><img src="../assets/images/escrita.png" width="20%" height="20%" id="logoc"></a>
            <a href="../index.html"><img src="../assets/images/desenho.jpg" width="5%" height="5%" id="iconr"></a>
        </div>
    </header>
</body>

</html>